<script>
  $(document).ready(function() {
    $('.account-number-hidden').hide();
    $('.hide-account').click(function() {
      $(this).siblings('.account-number').toggle();
    });
  });
</script>

<div class="col-md-12 mt-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        Pay Accounts
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nickname</th>
              <th>Account Type</th>
              <th>Account Number</th>
              <th>
                <a href="/pay_accounts/new" class="btn btn-success" role="button">Create</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @pay_accounts.each do |pay_account| %>
              <tr>
                <td><%= pay_account.nickname %></td>
                <td><%= pay_account.account_type.humanize %></td>
                <td class="adsfadsf">
                  <span class="account-number"><%= pay_account.account_number %></span>
                  <span class="account-number account-number-hidden" >************<%= pay_account.account_number[-4..-1]%></span>
                  <button type="button" class="btn btn-sm btn-default hide-account">hide</button>
                </td>
                <td>
                  <button type="button" class="btn btn-warning">Show</button>
                  <button type="button" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div>Loan number: <%= @loan_number %></div>
<div>Borrower name: <%= @borrower_name %></div>
